<html>
    <head>
        <title>Movies</title>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pako/2.1.0/pako.min.js"></script>
    </head>
    <body>
        <div id="movies-list"></div>
    
        <script type="text/javascript">

function get_movie_name_from_group(group) {
  var mn = group[0].title;
  for (const movie of group) {
    if (mn.length > movie.title.length) {
      mn = movie.title;
    }
  }
  return mn;
}

function get_movie_image_link_from_group(group) {
  for (const movie of group) {
    if (movie.additional_info && movie.additional_info.image_link) {
      return movie.additional_info.image_link;
    }
  }
  return 'https://upload.wikimedia.org/wikipedia/commons/d/d1/Image_not_available.png';
}

function get_movie_trailer_link_from_group(group) {
  for (const movie of group) {
    if (movie.additional_info && movie.additional_info.trailer_link) {
      // TODO: remove when Everyman links are fixed
      if (typeof movie.additional_info.trailer_link === 'string') {
        return movie.additional_info.trailer_link;
      }
    }
  }
  return null;
}

function transform_youtube_link_for_embed(trailer_link) {
  // https://youtu.be/hPIzgZ16oac
  var id = trailer_link.split('/')[3];
  if (id.includes('v=')) {
    id = id.split('v=')[1].split('&')[0];
  }
  return `https://www.youtube.com/embed/${id}`;
}

function get_movie_synopsis_from_group(group) {
  for (const movie of group) {
    if (movie.additional_info && movie.additional_info.synopsis) {
      return movie.additional_info.synopsis;
    }
  }
  return null;
}

function get_showings_count_by_movie_id(showings) {
  var cnt_by_id = {};
  for (const showing of showings) {
    if (new Date(showing.start_time_local) < new Date()) {
      continue;
    }
    // TODO: add network_name
    const movie_id = showing.movie_id;
    if (movie_id in cnt_by_id) {
        cnt_by_id[movie_id] += 1;
    } else {
        cnt_by_id[movie_id] = 1;
    }
  }
  return cnt_by_id;
}

function normalize_title(title) {
  const norm_title = title.toLowerCase().replaceAll(/\([^\)]*\)/g, '').replaceAll(/[^a-z]/g, '');
  return norm_title;
}

function normalize_colon_title(title, network_name, movies, unique_venues_by_norm_title) {
  if (!title.includes(':')) {
    return title;
  }
  const before = title.split(':')[0] + ':';
  const after = normalize_title(title.split(':')[1]);
  if (before.length < 2 || after.length < 2) {
    return title;
  }
  if (!(after in unique_venues_by_norm_title) || unique_venues_by_norm_title[after].size < 2) {
    return title;
  }
  return after;
}

function group_movies(movies) {
  var groups_by_name = {};
  const unique_venues_by_norm_title = {};
  for (const movie of movies) {
    const name = normalize_title(movie.title);
    if (name in unique_venues_by_norm_title) {
      unique_venues_by_norm_title[name].add(movie.network_name);
    } else {
      unique_venues_by_norm_title[name] = new Set([movie.network_name]);
    }
  }
  for (const movie of movies) {
    const colon_normalized = normalize_colon_title(movie.title, movie.network_name, movies, unique_venues_by_norm_title);
    const name = normalize_title(colon_normalized);
    if (name in groups_by_name) {
        groups_by_name[name].push(movie);
    } else {
        groups_by_name[name] = [movie];
    }
  }

  var groups = []
  for (const key in groups_by_name) {
    groups.push(groups_by_name[key]);
  }
  return groups;
}

async function initMovies() {
  const venues = await (await fetch('/venues.json')).json();
  const movies = await (await fetch('/movies.json')).json();
  console.time('Getting gziped showings');
  let showings;
  if ('DecompressionStream' in window) {
    console.log('using decom stream');
    showings = await new Response(await ((await fetch('/showings.json.gz').then((response) => response.body)).pipeThrough(new DecompressionStream('gzip')))).json();
  } else {
    console.log('using pako');
    showings = await new Response(pako.inflate(await (await fetch('/showings.json.gz')).arrayBuffer())).json();
  }
  console.timeEnd('Getting gziped showings');

  var venues_by_id = {};
  for (const venue of venues) {
    // TODO: add network_name
    venues_by_id[venue.id_] = venue;
  }

  var cnt_by_id = get_showings_count_by_movie_id(showings);
  var groups = group_movies(movies);
  groups.sort(function(a,b) {
    var cnt1 = 0;
    var cnt2 = 0;
    for (const movie of a) { cnt1 += (movie.id_ in cnt_by_id) ? cnt_by_id[movie.id_] : 0; }
    for (const movie of b) { cnt2 += (movie.id_ in cnt_by_id) ? cnt_by_id[movie.id_] : 0; }
    return (cnt1 < cnt2) - (cnt2 < cnt1);
  });

  const list = document.getElementById('movies-list');
  for (const movie_list of groups) {
    const p = document.createElement('p');
    var cnt = 0;
    const image_link = get_movie_image_link_from_group(movie_list);
    if (image_link != null) {
      p.innerHTML += `<p><img src="${image_link}" height="200px" loading="lazy"></p>`
    }
    const trailer_link = get_movie_trailer_link_from_group(movie_list);
    const synopsis = get_movie_synopsis_from_group(movie_list);
    p.innerHTML += get_movie_name_from_group(movie_list) + " - ";
    for (const movie of movie_list) {
        const a = document.createElement('a');
        a.href = movie.link;
        a.textContent = movie.network_name;
        p.innerHTML += `<a href="${movie.link}">${movie.network_name}</a>`;
        p.innerHTML += " ";
        cnt += (movie.id_ in cnt_by_id) ? cnt_by_id[movie.id_] : 0;
    }
    if (cnt == 0) {
      continue;
    }
    var spoiler = '';
    p.innerHTML += " - " + cnt;
    spoiler += "<details>";
    spoiler += "<summary>Other names</summary>";
    spoiler += "<div>"
    spoiler += "<ul>"
    for (const movie of movie_list) {
      spoiler += "<li>" + movie.title + " (" + movie.network_name + ")" + "</li>";
    }
    spoiler += "</ul>"
    spoiler += "</div>";
    spoiler += "</details>";
    if (movie_list.length > 1) {
      p.innerHTML += spoiler;
    }
    if (trailer_link != null) {
      var trailer = '';
      trailer += "<details>";
      trailer += "<summary>Trailer</summary>";
      trailer += `<div><a href="${trailer_link}">Link</a></div>`;
      const youtube_link = transform_youtube_link_for_embed(trailer_link);
      trailer += `<iframe width="420" height="315" src="${youtube_link}" loading="lazy"> </iframe>`;
      trailer += "</details>";
      p.innerHTML += trailer;
    }
    if (synopsis != null) {
      p.innerHTML += "<p>Synopsis</p>";
      p.innerHTML += `<p>${synopsis}</p>`;
    }
    p.innerHTML += '<hr>';
    list.appendChild(p);
  }
}

initMovies();
        </script>
        <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date(); for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }} k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js", "ym"); ym(94966106, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/94966106" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
    </body>
</html>
